<section class="Profilesection">
    <!--<div class="left" style="width: 10%;float: left;">
        <ul>
            <a href="#/"><li class="h1 add" style="margin-top:-20px;cursor: pointer;width:100%; height:50px;background:#2670B7; border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; overflow:hidden; font-size:16px; color:white; text-align:center; line-height:50px; font-weight:600; ">Home</li></a>
           <!-- <a href="#/projectCron"><li class="h1 add" style="margin-top:10px;cursor: pointer;width:100%; height:50px;background:lightgray; border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; overflow:hidden; font-size:16px; color:#303031; text-align:center; line-height:50px; font-weight:600; ">Cron</li></a>-->
          <!--  <a href="#/automation"><li class="h1 add" style="margin-top:10px;cursor: pointer;width:100%; height:50px;background:lightgray; border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; overflow:hidden; font-size:16px; color:#303031; text-align:center; line-height:50px; font-weight:600; ">Automation</li></a>
        </ul>
    </div>-->
            <a href='#/administration' ng-click="backKey()"><button type="button" class="btn btn-primary btn-xs">&lt;&lt; Back</button></a>
            <div class="companyDetailsBg addCompanyDetail" style='width: 100%;'>
                <div style="margin-bottom:15px;margin-top:-15px;">
                    <div class="profileHead left" style="float: left;width:60%;">Project Instance data of {{instanceData[0].customer_name}}
                        <!--<a href="#/listInstances"><button style="margin-left:35%;" type="button" class="btn btn-lg btn-primary btn-sm">Instance List</button></a>
                        <a href="#/projectInstances"><button type="button" style="color:yellow;" class="btn btn-lg btn-primary btn-sm">Project View</button></a>
                        <!--<a ng-click="syncInstanceData()" style="float: right"><button type="button" class="btn btn-primary btn-sm">Sync Instances</button></a>-->
                    </div>
                    <div class="form-group" style="width:25%;float:right;">
                            <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-search"></i></div>
                              <input type="text" class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" placeholder="Search for server name" ng-model="query">
                            </div>      
                    </div>
                </div>
                <div class='clear-fix'></div>
                <div>
                   <div style="float:left;margin-top:28px;cursor: pointer;;font-weight: bold;height:34px;"><a ng-click="assignMultiProjects()" style='color:#17a0a2'>Assign Projects</a></div>
                   <div style="float:left;margin-top:20px;margin-left:1%;"><a ng-click="syncInstanceData(regionArray)"><button type="button" class="btn btn-primary btn-sm">Sync Instances</button></a></div>
                   <select class="form-control input-sm" ng-model="instanceState" style="width: 14%;float: left;margin-top: 20px;margin-left:1%;" ng-change="changeState(instanceState)">
                       <option value=''>All Instances</option> 
                       <option value='running' selected="selected">Running Instances</option>
                       <option value='stopped'>Stopped Instances</option>
                       <option value='hybrid'>Hybrid Instances</option>
                      </select>
                   <!-- <a href="javascript:void(0)" ng-click='checkInstancesStatus(instanceData[0].customerIAMId)'><img class='refresh_whole' src="images/refresh_icon.png" style="width: 20px;margin-top: 25px;margin-left: 15px;"></a>-->
                    <div class="pagination" ng-if='instanceData.length>50'>
                        <ul>
                            <li ng-class="{disabled: noPrevious()}"><a ng-click="selectPrevious()">Previous</a></li>
                            <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a ng-click="selectPage(page)">{{page}}</a></li>
                            <li ng-class="{disabled: noNext()}"><a ng-click="selectNext()">Next</a></li>
                        </ul>
                    </div>
                </div>
                <table class="table" style="width:100%;margin-top: 25px;">
                    <tr>
                          <th></th>
                          <th>S.no</th>
                          <th>
                            <a ng-click="sortType = 'serverName'; sortReverse = !sortReverse">
                              Server Name
                              <span ng-show="sortType == 'serverName' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'serverName' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a>
                           </th>
                           <th><a ng-click="sortType = 'instanceId'; sortReverse = !sortReverse">
                               Instance Id
                              <span ng-show="sortType == 'instanceId' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'instanceId' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a></th>
                           
                          <th>
                            <a ng-click="sortType = 'region'; sortReverse = !sortReverse">
                              Region
                              <span ng-show="sortType == 'region' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'region' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a>
                           </th>
                           <th>
                            <a ng-click="sortType = 'companyName'; sortReverse = !sortReverse">
                              Company Name
                              <span ng-show="sortType == 'companyName' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'companyName' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a>
                           </th>
                          <th>
                            <a ng-click="sortType = 'projectName'; sortReverse = !sortReverse">
                              Project Name
                              <span ng-show="sortType == 'projectName' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'projectName' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a>
                           </th>
                          <th><a ng-click="sortType = 'instanceState'; sortReverse = !sortReverse">
                              State
                              <span ng-show="sortType == 'instanceState' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'instanceState' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a></th>
                           <th><a ng-click="sortType = 'status'; sortReverse = !sortReverse">
                              SSM Status
                              <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                              <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up ng-hide"></span>
                            </a>
                           </th>
                          <th>Assign Project</th>
                    </tr>
                  <tr ng-repeat="row in (instanceData | filter:search | filter: instanceState | orderBy:sortType:sortReverse).slice(begin, end)">
                        <td><input type="checkbox" class="collectServerIds" value="{{row.id}}" ng-click="collectServerIds(row.id)"/></td>
                        <td>#{{numPerPage *(currentPage-1)+$index+1}}</td> 
                        <td ng-if="row.status=='Alive' || row.status=='Online'"><img src="images/green-circle.png"/>&nbsp;&nbsp;&nbsp;<a ng-click="showInstanceDetails(row.raw_data,row.serverName)" style="cursor:pointer;">{{row.serverName}}</a></td>
                        <td ng-if="row.status=='Stop' || row.status=='ConnectionLost' || row.status=='Inactive' || row.status=='Error'"><img width="15px"  src="images/grey_circle.png"/>&nbsp;&nbsp;&nbsp;<a ng-click="showInstanceDetails(row.raw_data,row.serverName)" style="cursor:pointer;">{{row.serverName}}</a></td>
                        <td ng-if="row.status==null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ng-click="showInstanceDetails(row.raw_data,row.serverName)" style="cursor:pointer;">{{row.serverName}}</a></td>
                        <td><a ng-click="instanceStatusDetails(row.instance_raw_data,row.serverName,row.status)">{{row.instanceId}}</a></td>
                        <td>{{row.region}}</td>
                        <td>{{row.companyName}} </td>
                        <td>{{row.projectName}} </td>
                        <td>{{row.instanceState}}</td>
                        
                        <td style="text-align:center;" ng-if="row.status=='Alive' || row.status=='Online'"><a href="javascript:void(0)" ng-click='checkSSMAgentStatus(row.id,row.serverIP,row.customerIAMId)' title="{{row.status}}">{{row.status}}&nbsp;&nbsp;<img class="checkSSMStatus_{{row.id}}" src="images/refresh_icon.png" style="width: 20px;"></a></td>
                        <td style="text-align:center;" ng-if="(row.status=='Stop' || row.status=='ConnectionLost' || row.status=='Inactive' || row.status=='Error') && (row.instance_raw_data==null || row.instance_raw_data=='undefined')" ><a href="javascript:void(0)" ng-click='checkSSMAgentStatus(row.id,row.serverIP,row.customerIAMId)' title="Not in Managed Instances">{{row.status}}&nbsp;&nbsp;<img class="checkSSMStatus_{{row.id}}" src="images/refresh_icon.png" style="width: 20px;"></a></td>
                        <td style="text-align:center;" ng-if="(row.status=='Stop' || row.status=='ConnectionLost' || row.status=='Inactive' || row.status=='Error') && (row.instance_raw_data!=null && row.instance_raw_data !='undefined')" ><a href="javascript:void(0)" ng-click='checkSSMAgentStatus(row.id,row.serverIP,row.customerIAMId)' title="{{row.instance_raw_data}}">{{row.status}}&nbsp;&nbsp;<img class="checkSSMStatus_{{row.id}}" src="images/refresh_icon.png" style="width: 20px;"></a></td>
                        <td style="text-align:center;" ng-if="row.status==null" ><a href="javascript:void(0)" ng-click='checkSSMAgentStatus(row.id,row.serverIP,row.customerIAMId)'>{{row.status}}&nbsp;&nbsp;<img class="checkSSMStatus_{{row.id}}" src="images/refresh_icon.png" style="width: 20px;"></a></td>
                        <th><a ng-click="assignProject(row.id)" ng-if="row.project_id==undefined"><button type="button" class="btn btn-primary btn-xs">Assign Project</button></a><a ng-click="changeProject(row.id,row.project_id,row.company_id)" ng-if="row.project_id !=undefined"><button type="button" class="btn btn-primary btn-xs">Change Project</button></a></th>
                  </tr>
              </table>
                <div class="pagination" ng-if='instanceData.length>50'>
                    <ul>
                        <li ng-class="{disabled: noPrevious()}"><a ng-click="selectPrevious()">Previous</a></li>
                        <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a ng-click="selectPage(page)">{{page}}</a></li>
                        <li ng-class="{disabled: noNext()}"><a ng-click="selectNext()">Next</a></li>
                    </ul>
                </div>
            </div>
</section>
<div ng-controller="searchServerController"></div>
<style>
    table tr td{text-align: left;}table tr th{text-align: left;font-weight: bold;}
    .btn-xs,.btn-sm,.btn-xs:hover,btn-sm:hover{background-color: #17a0a2;border-color: #17a0a2;}
</style>