<section class="Profilesection">
    <div class="left" style="width: 10%;float: left;">
        <ul>
            <a href="#/"><li class="h1 add" style="margin-top:-20px;cursor: pointer;width:100%; height:50px;background:lightgray; border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; overflow:hidden; font-size:16px; color:#303031; text-align:center; line-height:50px; font-weight:600; ">Home</li></a>
           <!-- <a href="#/projectCron"><li class="h1 add" style="margin-top:10px;cursor: pointer;width:100%; height:50px;background:#2670B7; border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; overflow:hidden; font-size:16px; color:white; text-align:center; line-height:50px; font-weight:600; ">Cron</li></a>-->
            <a href="#/automation"><li class="h1 add" style="margin-top:10px;cursor: pointer;width:100%; height:50px;background:lightgray; border-bottom:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; overflow:hidden; font-size:16px; color:#303031; text-align:center; line-height:50px; font-weight:600; ">Automation</li></a>
        </ul>
    </div>
                        <div class="companyDetailsBg addCompanyDetail">
                <div class="profileHead" ng-if="ProjectCrons.length >0">Cron List of {{ProjectCrons[0].projectName}}</div>
                <div>
                  <table ng-if="ProjectCrons.length >0" class="table" style="width:100%;margin-top: 25px;">
                        <tr>
                            <th>S.no</th>
                            <th>Cron Name</th>
                            <th>Cron Url</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="row in ProjectCrons">
                            <td>#{{$index + 1}}</td>
                            <td>{{ row.job_name }}</td>
                            <td>{{row.minute+ " " +row.hour+ " "+row.day_of_month+" " +row.month+ " " +row.day_of_week+" " +row.job_command }}</td>
                            <td>
                                <a ng-click="showServerDetailModel(row.id)"><button type="button" class="btn btn-primary btn-xs">View Servers Detail</button></a>
                                <a ng-click="DeleteCronFromAllServerModel(row.id)"><button type="button" class="btn btn-primary btn-xs">Delete from all Server</button></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div> 
</section>
<style>
    table tr td{text-align: left;}table tr th{text-align: left;font-weight: bold;}
    .btn-xs,.btn-xs:hover{background-color: #17a0a2;border-color: #17a0a2;}
</style>